* {
    margin: 0;
    padding: 0;
}
.page   {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0px;
}
.header {
    font-size: large;
    justify-content: space-between;
    color: whitesmoke;
    margin: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    flex-direction: row;
    background-color: navy;
    flex-wrap: nowrap;
    width: 100%;
}
.name   {
    align-items: flex-start;
}
.links {
    color: whitesmoke;
    flex-direction: row;
    flex-wrap: nowrap;
}